<a href="https://colab.research.google.com/github/code3ngon/Python_Lab/blob/main/Python_Lab_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Tuple
1. to create a tuple of numbers and print one item.
2. to unpack a tuple into several variables.
3. to add an item to a tuple.
4. to find the index of an item in a tuple.
5. to find the repeated items of a tuple

1.

In [1]:
so_tuple = (10, 20, 30, 40, 50)
print("Tuple đã tạo:", so_tuple)

Tuple đã tạo: (10, 20, 30, 40, 50)

In [2]:
print("Phần tử đầu tiên:", so_tuple[0])

Phần tử đầu tiên: 10

2.

In [3]:
sv = ("Huynh Tran Bao Viet", 19, "CS0001", 4.0)
print("Thông tin sinh vien:", sv)

ten, tuoi, lop, gpa = sv

print("Tên:", ten)
print("Tuổi:", tuoi)
print("Lớp:", lop)
print("GPA:", gpa)

Thông tin sinh vien: ('Huynh Tran Bao Viet', 19, 'CS0001', 4.0)
Tên: Huynh Tran Bao Viet
Tuổi: 19
Lớp: CS0001
GPA: 4.0

3.

In [4]:
mau_sac = ("đỏ", "xanh", "vàng")
print("Tuple ban đầu:", mau_sac)

mau_sac_moi = mau_sac + ("tím",)
print("Tuple sau khi thêm 'tím':", mau_sac_moi)

Tuple ban đầu: ('đỏ', 'xanh', 'vàng')
Tuple sau khi thêm 'tím': ('đỏ', 'xanh', 'vàng', 'tím')

4.

In [5]:
trai_cay = ("táo", "cam", "chuối", "dâu", "cam", "xoài")
print("Tuple trái cây:", trai_cay)

vi_tri_cam = trai_cay.index("cam")
print("Vị trí đầu tiên của 'cam':", vi_tri_cam)

Tuple trái cây: ('táo', 'cam', 'chuối', 'dâu', 'cam', 'xoài')
Vị trí đầu tiên của 'cam': 1

5.

In [6]:
so_ngau_nhien = (3, 7, 1, 3, 5, 7, 9, 3, 5, 2)
print("Tuple số ngẫu nhiên:", so_ngau_nhien)

phan_tu_lap = []
for i in so_ngau_nhien:
    if so_ngau_nhien.count(i) > 1 and i not in phan_tu_lap:
        phan_tu_lap.append(i)
print("Các phần tử lặp lại:", phan_tu_lap)

Tuple số ngẫu nhiên: (3, 7, 1, 3, 5, 7, 9, 3, 5, 2)
Các phần tử lặp lại: [3, 7, 5]

Set

1. Write a Python program to find the maximum and minimum values in a set.
2. Write a Python program to check if a given value is present in a set or not.
3. Write a Python program to check if two given sets have no elements in common.
4. Write a Python program to find all the unique words and count the frequency of occurrence from a given list of strings. Use Python set data type.
5. Given two sets of numbers, write a Python program to find the missing numbers in the second set as compared to the first and vice versa. Use the Python set.

1.

In [7]:
so_set = {45, 12, 78, 34, 56, 23, 90, 5}
print("Set đã tạo:", so_set)

Set đã tạo: {34, 5, 12, 45, 78, 23, 56, 90}

In [8]:
gia_tri_lon_nhat = max(so_set)
print("Giá trị lớn nhất:", gia_tri_lon_nhat)

Giá trị lớn nhất: 90

In [9]:
gia_tri_nho_nhat = min(so_set)
print("Giá trị nhỏ nhất:", gia_tri_nho_nhat)

Giá trị nhỏ nhất: 5

2.

In [10]:
mau_sac = {"đỏ", "xanh lá", "vàng", "cam", "tím", "xanh dương"}
print("Set màu sắc:", mau_sac)
kiem_tra = ["đỏ", "đen", "vàng", "trắng"]

for mau in kiem_tra:
    if mau in mau_sac:
        print(f"'{mau}' có trong set màu sắc")
    else:
        print(f"'{mau}' không có trong set màu sắc")

Set màu sắc: {'vàng', 'xanh lá', 'đỏ', 'cam', 'tím', 'xanh dương'}
'đỏ' có trong set màu sắc
'đen' không có trong set màu sắc
'vàng' có trong set màu sắc
'trắng' không có trong set màu sắc

3.

In [11]:
set_a = {1, 2, 3, 4, 5}
set_b = {5, 6, 7, 8, 9}
if set_a.isdisjoint(set_b):
    print("Set A và Set B không có phần tử chung")
else:
    print("Set A và Set B có ít nhất một phần tử chung")
    print("Các phần tử chung:", set_a.intersection(set_b))

Set A và Set B có ít nhất một phần tử chung
Các phần tử chung: {5}

4.

In [12]:
danh_sach_chuoi = [
    "hello cac ban",
    "Tung tung tung sahur",
    "Dark bruh lmao",
    "skibidi toilet"
]

print("Danh sách chuỗi:")
for i, chuoi in enumerate(danh_sach_chuoi, 1):
    print(f"{i}. {chuoi}")

tat_ca_tu = []
for chuoi in danh_sach_chuoi:
    tu_trong_chuoi = chuoi.split()
    tat_ca_tu.extend(tu_trong_chuoi)

print(f"\nTổng số từ: {len(tat_ca_tu)}")

tu_duy_nhat = set(tat_ca_tu)
print(f"Số từ duy nhất: {len(tu_duy_nhat)}")
print("Các từ duy nhất:", tu_duy_nhat)

tan_suat = {}
for tu in tat_ca_tu:
    if tu in tan_suat:
        tan_suat[tu] += 1
    else:
        tan_suat[tu] = 1

print("\nTần suất xuất hiện của từng từ:")
for tu, so_lan in sorted(tan_suat.items()):
    print(f"'{tu}': {so_lan} lần")

Danh sách chuỗi:
1. hello cac ban
2. Tung tung tung sahur
3. Dark bruh lmao
4. skibidi toilet

Tổng số từ: 12
Số từ duy nhất: 11
Các từ duy nhất: {'lmao', 'Dark', 'tung', 'skibidi', 'bruh', 'toilet', 'hello', 'Tung', 'sahur', 'ban', 'cac'}

Tần suất xuất hiện của từng từ:
'Dark': 1 lần
'Tung': 1 lần
'ban': 1 lần
'bruh': 1 lần
'cac': 1 lần
'hello': 1 lần
'lmao': 1 lần
'sahur': 1 lần
'skibidi': 1 lần
'toilet': 1 lần
'tung': 2 lần

5.

In [13]:
set_1 = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
set_2 = {2, 4, 6, 8, 10, 12, 14}

print("Set 1:", set_1)
print("Set 2:", set_2)

so_thieu_trong_set_2 = set_1 - set_2
print("Các số có trong Set 1 nhưng không có trong Set 2:", so_thieu_trong_set_2)

Set 1: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
Set 2: {2, 4, 6, 8, 10, 12, 14}
Các số có trong Set 1 nhưng không có trong Set 2: {1, 3, 5, 7, 9}

Dict

Write python program:

1. Convert two lists into a dictionary
2. Merge two Python dictionaries into one
3. Print the value of key ‘history’ from the below dict
4. Initialize dictionary with default values
5. Create a dictionary by extracting the keys from a given dictionary
6. Delete a list of keys from a dictionary
7. Check if a value exists in a dictionary
8. Rename key of a dictionary
9. Get the key of a minimum value from the following dictionary
10. Change value of a key in a nested dictionary
11. Counts the number of times characters appear in a text paragraph.
12. Using a dictionary containing keys starting from 1 and values ​​containing prime numbers less than a value N.
** Restructuring the company data:
Suppose you have a dictionary that contains information about employees at a company. Each employee is identified by an ID number, and their information includes their name, department, and salary. You want to create a nested dictionary that groups employees by department so that you can easily see the names and salaries of all employees in each department.

Write a Python program that when given a dictionary, employees, outputs a nested dictionary, dept_employees, which groups employees by department.

![image.png]()

1.

In [14]:
ten_hoc_sinh = ["An", "Bình", "Cường", "Dung", "Em"]
diem_so = [85, 92, 78, 95, 88]

bang_diem = dict(zip(ten_hoc_sinh, diem_so))
print(bang_diem)

{'An': 85, 'Bình': 92, 'Cường': 78, 'Dung': 95, 'Em': 88}

2.

In [15]:
dict1 = {"a": 1, "b": 2, "c": 3}
dict2 = {"d": 4, "e": 5, "f": 6}
merged_dict2 = {**dict1, **dict2}
print(merged_dict2)

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6}

3.

4.

In [17]:
from collections import defaultdict

danh_sach_mon = ["Toán", "Lý", "Hóa", "Sinh", "Văn"]
diem_mac_dinh = dict.fromkeys(danh_sach_mon, 0)
print(diem_mac_dinh)

{'Toán': 0, 'Lý': 0, 'Hóa': 0, 'Sinh': 0, 'Văn': 0}

5.

In [19]:
thong_tin_sinh_vien = {
    "id": "SV001",
    "ten": "Huỳnh Trần Bảo Việt",
    "tuoi": 20,
    "lop": "CS0001",
    "diem_trung_binh": 4.0,
    "dia_chi": "TPHCM"
}
print("Từ điển gốc:", thong_tin_sinh_vien)

khoa_can_truy_xuat = ["ten", "tuoi", "lop"]
thong_tin_rut_gon = {k: thong_tin_sinh_vien[k] for k in khoa_can_truy_xuat}
print("Từ điển sau khi trích xuất:", thong_tin_rut_gon)

Từ điển gốc: {'id': 'SV001', 'ten': 'Huỳnh Trần Bảo Việt', 'tuoi': 20, 'lop': 'CS0001', 'diem_trung_binh': 4.0, 'dia_chi': 'TPHCM'}
Từ điển sau khi trích xuất: {'ten': 'Huỳnh Trần Bảo Việt', 'tuoi': 20, 'lop': 'CS0001'}

6.

In [21]:
print("Từ điển gốc:", thong_tin_sinh_vien)

khoa_can_xoa = ["dia_chi", "id"]

tu_dien_sau_xoa = thong_tin_sinh_vien.copy()
for k in khoa_can_xoa:
    if k in tu_dien_sau_xoa:
        del tu_dien_sau_xoa[k]
print(tu_dien_sau_xoa)

Từ điển gốc: {'id': 'SV001', 'ten': 'Huỳnh Trần Bảo Việt', 'tuoi': 20, 'lop': 'CS0001', 'diem_trung_binh': 4.0, 'dia_chi': 'TPHCM'}
{'ten': 'Huỳnh Trần Bảo Việt', 'tuoi': 20, 'lop': 'CS0001', 'diem_trung_binh': 4.0}

7.

In [23]:
danh_ba = {
    "An": "0912345678",
    "Bình": "0987654321",
    "Cường": "0923456789",
    "Dung": "0934567891"
}
print("Từ điển danh bạ:", danh_ba)

so_dt_can_tim = "0987654321"
co_ton_tai = False
if so_dt_can_tim in danh_ba.values():
    print(f"Phương pháp 2: Số điện thoại {so_dt_can_tim} có trong danh bạ")
else:
    print(f"Phương pháp 2: Số điện thoại {so_dt_can_tim} không có trong danh bạ")

Từ điển danh bạ: {'An': '0912345678', 'Bình': '0987654321', 'Cường': '0923456789', 'Dung': '0934567891'}
Phương pháp 2: Số điện thoại 0987654321 có trong danh bạ

8.

In [24]:
san_pham = {
    "ma_sp": "SP001",
    "ten_sp": "Điện thoại",
    "gia": 5000000,
    "so_luong": 10
}
print("Từ điển gốc:", san_pham)

key_cu = "ten_sp"
key_moi = "ten_san_pham"

if key_cu in san_pham:
    san_pham[key_moi] = san_pham[key_cu]
    del san_pham[key_cu]
print("Từ điển sau khi đổi tên khóa:", san_pham)

Từ điển gốc: {'ma_sp': 'SP001', 'ten_sp': 'Điện thoại', 'gia': 5000000, 'so_luong': 10}
Từ điển sau khi đổi tên khóa: {'ma_sp': 'SP001', 'gia': 5000000, 'so_luong': 10, 'ten_san_pham': 'Điện thoại'}

9.

In [26]:
diem_hs = {
    "Nam": 85,
    "Hoa": 92,
    "Tuan": 78,
    "Mai": 95,
    "Phong": 72
}
print("Từ điển điểm học sinh:", diem_hs)

hs_diem_thap_nhat = min(diem_hs, key=diem_hs.get)
print(f"Học sinh có điểm thấp nhất là {hs_diem_thap_nhat} với {diem_hs[hs_diem_thap_nhat]} điểm")

Từ điển điểm học sinh: {'Nam': 85, 'Hoa': 92, 'Tuan': 78, 'Mai': 95, 'Phong': 72}
Học sinh có điểm thấp nhất là Phong với 72 điểm

10.

In [27]:
nhan_vien = {
    "nhan_vien_1": {
        "ten": "Nguyễn Văn A",
        "phong_ban": "Kế toán",
        "luong": 10000000
    },
    "nhan_vien_2": {
        "ten": "Trần Thị B",
        "phong_ban": "Nhân sự",
        "luong": 12000000
    }
}
print("Từ điển nhân viên ban đầu:")
print(nhan_vien)

nhan_vien["nhan_vien_1"]["luong"] = 11000000

nhan_vien["nhan_vien_2"]["phong_ban"] = "Kinh doanh"

print("Từ điển nhân viên sau khi thay đổi:")
print(nhan_vien)

Từ điển nhân viên ban đầu:
{'nhan_vien_1': {'ten': 'Nguyễn Văn A', 'phong_ban': 'Kế toán', 'luong': 10000000}, 'nhan_vien_2': {'ten': 'Trần Thị B', 'phong_ban': 'Nhân sự', 'luong': 12000000}}
Từ điển nhân viên sau khi thay đổi:
{'nhan_vien_1': {'ten': 'Nguyễn Văn A', 'phong_ban': 'Kế toán', 'luong': 11000000}, 'nhan_vien_2': {'ten': 'Trần Thị B', 'phong_ban': 'Kinh doanh', 'luong': 12000000}}

11.

In [28]:
doan_van = """
Tung tung tung tung tung sahur
Pika pika pikachu
Meo meo meo rua mat nhu meo
"""

print("Đoạn văn bản:")
print(doan_van)

# Tạo dictionary để đếm số lần xuất hiện của mỗi ký tự
so_lan_xuat_hien = {}

# Loại bỏ khoảng trắng và chuyển về chữ thường để dễ đếm
doan_van_xu_ly = doan_van.lower().replace(" ", "").replace("\n", "")

# Đếm số lần xuất hiện của mỗi ký tự
for ky_tu in doan_van_xu_ly:
    if ky_tu in so_lan_xuat_hien:
        so_lan_xuat_hien[ky_tu] += 1
    else:
        so_lan_xuat_hien[ky_tu] = 1

# Hiển thị kết quả
print("Số lần xuất hiện của mỗi ký tự:")
for ky_tu, so_lan in sorted(so_lan_xuat_hien.items()):
    print(f"'{ky_tu}': {so_lan}")

Đoạn văn bản:

Tung tung tung tung tung sahur
Pika pika pikachu
Meo meo meo rua mat nhu meo

Số lần xuất hiện của mỗi ký tự:
'a': 6
'c': 1
'e': 4
'g': 5
'h': 3
'i': 3
'k': 3
'm': 5
'n': 6
'o': 4
'p': 3
'r': 2
's': 1
't': 6
'u': 9

12.

In [29]:
def la_so_nguyen_to(n):
    """Kiểm tra xem một số có phải là số nguyên tố hay không"""
    if n <= 1:
        return False
    if n <= 3:
        return True
    if n % 2 == 0 or n % 3 == 0:
        return False
    i = 5
    while i * i <= n:
        if n % i == 0 or n % (i + 2) == 0:
            return False
        i += 6
    return True

N = 50
print(f"Tìm các số nguyên tố nhỏ hơn {N}")

so_nguyen_to_dict = {}
so_dem = 1

for i in range(2, N):
    if la_so_nguyen_to(i):
        so_nguyen_to_dict[so_dem] = i
        so_dem += 1

print("Dictionary chứa số nguyên tố:")
print(so_nguyen_to_dict)

Tìm các số nguyên tố nhỏ hơn 50
Dictionary chứa số nguyên tố:
{1: 2, 2: 3, 3: 5, 4: 7, 5: 11, 6: 13, 7: 17, 8: 19, 9: 23, 10: 29, 11: 31, 12: 37, 13: 41, 14: 43, 15: 47}

**

In [30]:
employees = {
    1001: {"name": "Alice", "department": "Engineering", "salary": 75000},
    1002: {"name": "Bob", "department": "Sales", "salary": 50000},
    1003: {"name": "Charlie", "department": "Engineering", "salary": 80000},
    1004: {"name": "Dave", "department": "Marketing", "salary": 60000},
    1005: {"name": "Eve", "department": "Sales", "salary": 55000}
}

print("Dictionary thông tin nhân viên ban đầu:")
for id, info in employees.items():
    print(f"{id}: {info}")

dept_employees = {}

for id, info in employees.items():
    department = info["department"]

    if department not in dept_employees:
        dept_employees[department] = {}


    employee_info = {
        "name": info["name"],
        "salary": info["salary"]
    }

    dept_employees[department][id] = employee_info

print("\nDictionary sau khi tái cấu trúc (nhân viên theo phòng ban):")
for dept, employees in dept_employees.items():
    print(f"\n{dept}: {{")
    for id, info in employees.items():
        print(f"    {id}: {info},")
    print("}")

Dictionary thông tin nhân viên ban đầu:
1001: {'name': 'Alice', 'department': 'Engineering', 'salary': 75000}
1002: {'name': 'Bob', 'department': 'Sales', 'salary': 50000}
1003: {'name': 'Charlie', 'department': 'Engineering', 'salary': 80000}
1004: {'name': 'Dave', 'department': 'Marketing', 'salary': 60000}
1005: {'name': 'Eve', 'department': 'Sales', 'salary': 55000}

Dictionary sau khi tái cấu trúc (nhân viên theo phòng ban):

Engineering: {
    1001: {'name': 'Alice', 'salary': 75000},
    1003: {'name': 'Charlie', 'salary': 80000},
}

Sales: {
    1002: {'name': 'Bob', 'salary': 50000},
    1005: {'name': 'Eve', 'salary': 55000},
}

Marketing: {
    1004: {'name': 'Dave', 'salary': 60000},
}